.App-header {
  background-color: #212121;
  height: 100px;
  padding: 20px;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.App-intro {
  font-size: large;
}

.graph-container {
  height: 350px;
  display: flex;
  justify-content: center;
}

.graph {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#usd-graph {
   background: #C7E5C8;
}

#btc-graph {
  background: #FEEA3A;
}

.bar1 {
  background: red;
  margin: 10px;
  width: 30%;
  padding: 20px;
}

.bar2 {
  background: green;
  width: 30%;
  margin: 10px;
  padding: 20px;
}

.graph-key {
  width: 100px;
  float: right;
}

.red {
  background: red;
  height: 15px;
  margin: 5px;
}

.green {
  background: green;
  height: 15px;
  margin: 5px;
}

p {
  text-align: center;
}

h1 {
  margin: 0 auto;
  align-self: center;
}

h2 {
  display: inline-block;
  margin-left: 30%;
}

h3 {
  float: left;
  align-self: flex-start; 
}

h4 {
  float:left;
}

img {
  height: 100px;
  display: inline-block;
  text-align: center;
}

button {
    display: inline-block;
    width: 100%;
    padding: 8px;
    color: #212121;
    background: rgba(55,55,55, 0.3);
    border: 2px solid #fff;
    outline: none;
    font-size: 50px;
    cursor: pointer;
}


